CONFIG_LK_EXAMPLE_START_IN_STANDBY=y
# CONFIG_LK_EXAMPLE_DEBUG_UPLINK_WAV is not set
# CONFIG_LK_EXAMPLE_DEBUG_UPLINK_WS is not set
# CONFIG_LK_EXAMPLE_LOCAL_AUDIO_UPLINK_ONLY is not set
CONFIG_LK_EXAMPLE_DEBUG_DOWNLINK_RINGBUF_KB=24
